body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}
.logo img {
    display: block;
    margin: 0 auto;
}
main {
    padding: 20px;
    text-align: center;
}
section {
    text-align: center;
}
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #eee;
}
a {
    color: #3498db;
    text-decoration: none;
}

ul {
    list-style-type: none; /* Supprime les puces */
    padding: 0; /* Supprime le retrait gauche */
    margin: 0; /* Supprime le retrait autour de la liste */
}

